# IDEs and editors
.idea
.c9/
*.launch
.settings/

/target/
/.apt_generated/
/.settings/
.classpath
.factorypath
.project
.jsdtscope
*.prefs
*.core.xml
*.prefs.xml
*.name
*.container
*.component


# ignore below files from frontend
# See http://help.github.com/ignore-files/ for more about ignoring files.

# IDE - VSCode
/src/frontend/.vscode/*
!/src/frontend/.vscode/settings.json
!/src/frontend/.vscode/tasks.json
!/src/frontend/.vscode/launch.json
!/src/frontend/.vscode/extensions.json

# System Files
.DS_Store
/src/frontend/Thumbs.db
/bin/
/.apt_generated_tests/
