* {
    box-sizing: border-box;
}

body {
    font-family: "Fira Sans", "Segoe UI", Ubuntu, sans-serif;
    width: 80%;
    min-width: 1046px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #eee;
    color: #222;
    box-shadow: 0 0 5px #666;
}

noscript {
    background-color: #d30;
    color: #fff;
    padding: 20px;
    display: block;
    margin: -20px;
    margin-bottom: 20px;
}

header {
    background: #404;
    color: #dcd;
    padding: 25px;
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #fdd;
}
nav > ul:after {
    content: "";
    clear: both;
    float: none;
    display: block;
}
nav > ul > li {
    float: left;
}
nav ul li a {
    display: block;
    line-height: 2.5em;
    text-decoration: none;
    color: #444;
    padding-left: 10px;
    padding-right: 10px;
}
nav ul li a:hover {
    color: #fff;
    background-color: #808;
}
header h1 {
    margin: 0;
    padding: 0;
}
h2 {
    margin-top: 0;
    margin-bottom: 10px;
}
ul{
    margin-top: 0;
    margin-bottom: 25px;
}
#main-content {
    background-color: #fff;
    padding: 20px;
}

.db-table {
    border-collapse: collapse;
    border: 1px solid #ccc;
    border-left: 0;
    border-right: 0;
    caption-side: top;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    width: 95%;
}

.db-table>tbody>tr:nth-of-type(even) {
    background: #f3f3f3;
}

.db-table-name {
    padding: 7px 20px;
    font-size: 1.1em;
    color: #444;
}

.db-table span span {
    font-weight: bold;
}

.db-table th {
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    padding: 10px;
    color: #474747;
    text-align: left;
}

.db-table th:first-of-type {
    border-left: 0;
}

.field-name {
    width: 30%;
}

.field-desc {
    width: 25%;
}

.db-table td {
    padding: 5px 10px;
}