body {
  width: 70%;
  margin: 0 auto;
  font-family: 'Fira Sans', sans-serif;
}
a {
  text-decoration: none;
  color: #077722;
}
a:hover {
  color: #079830;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Noto Serif', serif;
}
h2, h3, h4, h5, h6 {
  margin-top: 0;
  padding: 0;
}
p {
  margin-top: 0;
  margin-bottom: 0.4rem;
}
ul, ol {
  margin-top: 0;
  margin-bottom: 1rem;
}
li {
  margin-bottom: 0.4rem;
}
.table-of-contents {
  border: 1px solid #eee;
  padding: 1rem;
  margin-left: -1rem;
  margin-right: -1rem;
  margin-bottom: 2rem;
  background: #fafafa;
}
.table-of-contents ul {
  list-style: square;
}
h2 {
  margin-bottom: 1rem;
}
h3 {
  margin-bottom: 0.7rem;
}
h4 {
  margin-bottom: 0.8rem;
}
h5 {
  margin-bottom: 0.6rem;
}
h6 {
  margin-bottom: 0.5rem;
}
.use-case {
  margin-bottom: 2.5rem;
}
.use-case hr{
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  height: 0;
  border: 0;
  border-top: 0.06rem solid #ccc;
}
.response dt {
  font-style: italic;
  margin-bottom: 0.4rem;
}
.response dd ul {
  margin-left: 0;
  padding-left: 0;
}
.terminology {
  margin-top: 0;
  margin-bottom: 1rem;
  border-collapse: collapse;
}
.terminology > tbody > tr > td {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}
.terminology > tbody > tr > td:first-of-type {
  padding-right: 1rem;
}