<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{%d{HH:mm:ss.SSS} [%t] %-5level %logger{3} - %msg%n}{STYLE=Logback}"/>
        </Console>
        
        <!--
        <File
        	name="FileAppender"
        	fileName="D://temp/pustakalaya.log"
        	append="true">
        	<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{3} - %msg%n"/>
        </File>
        -->
    </Appenders>

    <Loggers>
    	<!--
        <Logger level="debug" name="com.jk.pustakalaya">
        	<AppenderRef ref="FileAppender"/>
        </Logger>
        -->
        
        <Root level="debug">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>