* {
  box-sizing: border-box;
}
body {
  font-family: "Fira Sans", "Segoe UI", Ubuntu, sans-serif;
  width: 80%;
  min-width: 1046px;
  max-width: 1200px;
  margin: 0 auto;
  color: #222219;
  font-size: 1rem;
  background-color: #f7f7f7;
  box-shadow: 0 0 .14rem rgb(249, 168, 37, 0.5);
}
#header {
  background:#F9A825;
  padding: .5rem 2rem;
  line-height: 6.5rem;
}
#header img {
  height: 6.5rem;
  vertical-align: bottom;
  margin-right: .5rem;
  margin-left: -.85rem;
  display: inline-block;
}
#header div {
  font-size: 2.8rem;
  font-family: 'Noto Serif', 'Cambria', serif;
}
#header div a {
  color: rgba(255,255,255,.6);
  text-shadow: .07rem 0 0 rgba(0,0,0,.1);
  text-decoration: none;
  letter-spacing: .1rem;
  outline: none;
}
#header div a:hover {
  background: none;
}
.main-content {
  background-color: #fcfcfa;
  padding: 2rem;
}
#footer {
  background: #f4f4f0;
  color: #444441;
  padding: 1rem 0;
  font-size: 0.85rem;
}
.back-button a {
  display: inline-block;
  margin-bottom: 2rem;
}
.back-button a:before {
  content: 'â†';
  padding-right: 0.3rem;
}
noscript {
  background-color: #d30;
  color: #fff;
  padding: 1rem;
  display:block;
  margin-bottom: 1.5rem;
}
a, a:link, a:visited, a:active {
  text-decoration: none;
  color: #283593;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  padding-top: 0;
  margin-bottom: .5em;
  font-weight: 300;
}
h1, h2, h3, h4, h5, h6,
strong, th {
  color: #333;
}
p {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 1.5;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2.1rem;
}
h3 {
  font-size: 1.7rem;
}
h4 {
  font-size: 1.4rem;
}
h5 {
  font-size: 1.2rem;
}
h6 {
  font-size: 1rem;
}
ul, ol, dl, table {
  margin-top: 0;
  margin-bottom: 2rem;
}
ul, ol {
  padding-left: 3rem;
}
li {
  margin-bottom: .5rem;
}
li p {
  margin-bottom: .5rem;
}
li ul {
  margin-bottom: 1rem;
}
dl dt {
  margin-bottom: .5rem;
}
.full-width {
  width: 100%;
}
.mb-0 {
  margin-bottom: 0 !important;
}
code, pre {
  font-family: 'Fira Code', Consolas, monospace;
  font-weight: normal;
}
code {
  font-size: .9rem;
  font-weight: 300;
}
code.url {
  padding: .15rem;
  color: #EF6C00;
}
code.pattern {
  color: #2E7D32;
  word-break: unset;
  word-wrap: unset;
  overflow-wrap: unset;
  -webkit-hyphens: unset;
  -moz-hyphens: unset;
  -ms-hyphens: unset;
  hyphens: unset;
}
hr {/*
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: -.7rem;
  margin-right: -.7rem;
  height: 0;
  border-top: 0.06rem solid #fff;*/
  margin-bottom: 2.5rem;
  border: 0;
}
.ptk-table-wrapper {
  margin-left: -.5rem;
  margin-right: -.5rem;
}
.ptk-table {
  border-collapse: collapse;
  caption-side: top;
  margin-bottom: 2rem;
}
.ptk-table-name {
  padding: .5rem;
  font-size: 1.1em;
  text-align: left;
  color: #555555;
}
.ptk-table-name > span > span {
  font-weight: 400;
  font-style: italic;
  color: #222219;
}
.ptk-table > tbody > tr:nth-of-type(2n+1) {
  background-color: #f4f4f0;
}
.ptk-table > thead > tr > th {
  padding: .5rem;
  text-align: left;
  font-weight: 300;
}
.ptk-table > tbody > tr > td {
  padding: .5rem;
}
.field-name {
  width: 20%;
}
.field-desc {
  width: 42%;
}
.error-codes {
  margin-bottom: 2rem;
}
.error-codes > dt > code {
  font-weight: bold;
  color: #333;
}
.note {/*
  border-left: .2rem solid darkgoldenrod;*/
  padding: .7rem 1rem;
  background: #f4f4e7;
}
.response > dt {
  font-style: italic;
}
.ptk-table-simple {
  border-collapse: collapse;
}
.ptk-table-simple > tbody > tr > td {
  padding-top: .4rem;
  padding-bottom: .4rem;
  padding-left: 1rem;
}
.ptk-table-simple > tbody > tr > td:first-of-type {
  padding-left: 0;
}