<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title th:text="#{registration.subject(${subjectParameters})}"></title>
</head>

<body>
	<p th:text="#{greetings(${userName})}"></p>
	
	<p th:text="#{registration.text.line1}"></p>
	
	<p>
		<a th:href="${registerationLink}">[[${registerationLink}]]</a>
	</p>
	
	<p th:text="#{registration.text.line2(${registrationExpires})}"></p>
	
	<div>
		<p>
			<span th:text="#{thanks}"></span><br/>
			<span th:text="#{pustakalaya.team}"></span><br/>
			<span th:text="#{contact.mail}"></span><br/>
			<span th:text="#{contact.number}"></span>
		</p>
	</div>
	
</body>
</html>