@import url('https://fonts.googleapis.com/css?family=Mukta:300,400,700');
/*
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,600');
/**/

body {
    font-family: 'Fira Sans', Mukta, Ubuntu, 'Segoe UI', Arial, Helvetica, sans-serif;
}

.main-content {
    padding-top: 1rem;
}

.clickable {
    cursor: pointer;
}

footer {
    background: #e7e7e7;
}

footer>div {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
